{
  "root": true,
  "extends": [
    "@react-native",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "import"
  ],
  "rules": {
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          [
            "external",
            "builtin"
          ],
          "internal",
          [
            "sibling",
            "parent"
          ],
          "index"
        ],
        "pathGroups": [
          {
            "pattern": "@(react|react-native)",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "@{dtos,assets,components,screens,storage,utils,services,hooks,contexts,routes}/**",
            "group": "internal"
          }
        ],
        "pathGroupsExcludedImportTypes": [
          "internal",
          "react"
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": "off",
    "no-console": "warn",
    "@typescript-eslint/no-unused-vars": "warn"
  }
}